body{
  background-color: #ffffff;
}
header{
  margin-top: 20px;
}
.container{
  width: 920px;
  margin: 0 auto 40px auto;
}
.header-title-area{
  margin-top: 40px;
  margin-bottom: 30px;
}
.logo{
  text-align: center;
  font-size: 32px;
}
.header-navigation{
  width: 100%;
  background-color: #ff69b4;
  padding: 20px 0;
}
.header-navigation:after{
  clear: both;
  display: block;
  content:" ";
}
.header-navigation li{
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}
.header-navigation li a{
  color: #ffffff;
  text-decoration: none;
}
.text-title{
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}
.left-contents{
  width: 600px;
  margin-right: 20px;
  float: left;
  background-color: #fff;
}
.right-contents{
  float: left;
  width: 300px;
}
.card-contents{
  float: left;
  padding: 40px;
  display: block;
  background-color: #fff
}
.blog-cell{
  margin-bottom: 5px;
  width: 100%;
  background-color: #ffffff;
  float: left;
}
.content-image{
  float: left;
  background-color: palegoldenrod;
  width: 150px;
  height: 150px;
}
.content-date{
  width: 350px;
  float: left;
  color: #595959;
}
.content-title{
  width: 350px;
  float: left;
  font-size: 20px;
  color: #0081DB;
}
.content-detail{
  width: 350px;
  float: left;
  font-size: 8px;
  color: #7c7c7c;
}
.new_article{
  border-bottom: solid 1px #7c7c7c;
}
.content-image-sub{
  float: left;
  background-color: palegoldenrod;
  width: 50px;
  height: 50px;
}
.content-date-sub{
  width: 150px;
  font-size: 10px;
  float: left;
  color: #595959;
}
.content-title-sub{
  margin-top: 5px;
  width: 150px;
  float: left;
  font-size: 10px;
  color: #0081DB;
}
.copyright{
  width: 100%;
  float: left;
  color: #777;
  text-align: center;
  border-top: solid 1px #7c7c7c;
}
